/* CLASSI DI DEFAULT */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.txt-w{
  color: #fff;
}
.txt-g{
  color: #76787E;
}

/* MAIN */
main .main-container{
  background-color: #141922;
  height: calc(100vh - 80px);
}

main .upgrade, .sub-container{
  width: calc(100% - 260px);
}

nav{
  float: left;
  height: 100%;
  width: 260px;
  background-color: #000;
}

/* UPGRADE */
main .upgrade{
  position: relative;
  float: left;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
}

main .upgrade button{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

main .upgrade button:hover{
  font-size: 20px;
}

/* NAV */
nav{
  padding-top: 15px;
}

nav .logo img{
  max-width: 150px;
  padding-left: 15px;
}

nav .select-menu{
  padding-top: 16px;
}

nav ul{
  list-style: none;
}

nav ul li{
  font-size: 13px;
  font-weight: 400;
  padding: 5px 15px;
}

nav ul li img{
  max-width: 30px;
  vertical-align: middle;
}

nav ul li.home{
  border-left: 2px solid#ADFF2F;
}

nav ul li:is(.home,.cerca,.libreria):hover{
  color: #fff ;
  border: none;
}

nav ul li:is(.home,.cerca,.libreria):hover:active{
  border-left: 2px solid#ADFF2F;
}

/* MENU */
.sub-container{
  height: 100%;
  overflow-y: auto;
}

.sub-container ul{
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

.sub-container ul li{
  display: inline;
  padding: 20px 10px;
}

.sub-container ul li:hover{
  color: #fff;
}

.sub-container ul li:hover:active{
  border-bottom: 1px solid #ADFF2F;
}


/* FOOTER */
footer{
  height: 80px;
  background-color: #282828;
}