/* CLASSI DI DEFAULT */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.txt-w{
  color: #fff;
}

ul>li{
  opacity: 0.4;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 15px;
}

ul>li:hover{
  opacity: 1;
  cursor: pointer;
}

ul>li:hover:active{
  border-left: 2px solid#ADFF2F;
  opacity: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MAIN */
main{
  width: 100%;
  height: calc(100% - 80px);
  background-color: #141922;
}

main .main-container{
  width: 100%;
  height: 100%;
}

/* UPGRADE */
main .upgrade{
  width: calc(100% - 260px);
  position: fixed;
  float: left;
  z-index: 999;
  top:0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
}

main .upgrade button{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(0, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

main .upgrade button:hover{
  font-size: 20px;
}

/* NAV */
nav{
  float: left;
  width: 260px;
  height: calc(100vh - 80px);
  padding-top: 15px;
  background-color: #000;
}

nav .box{
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;
}

nav .container-nav{
  width: 100%;
  height: auto;
}

/* LOGO */
nav .logo img{
  max-width: 150px;
  padding-left: 15px;
}

nav .logo img:hover{
  max-width: 155px;
  cursor: pointer;
}

nav .log-small img{
  display: none;
}

/* SELECT-MENU-NAV */
nav .select-menu{
  width: 100%;
  padding-top: 16px;
}

nav .select-menu .log-small img{
  display: none;
}

nav .select-menu ul{
  list-style: none;
}

nav .select-menu ul li img{
  max-width: 27px;
  vertical-align: middle;
}

nav .select-menu ul li.home{
  border-left: 2px solid#ADFF2F;
  opacity: 0.8;
}

nav .select-menu ul li.home:hover{
  opacity: 1;
}

/* PLAYLIST */
nav .container-nav-down{
  width: 100%;
  height: 100%;
}

nav .container-nav-down .log-small img{
  display: none;
}

nav .playlist{
  height: 70%;
  width: 100%;
  padding-top: 20px;
}

nav .playlist h5{
  margin-left: 16px;
}

nav .playlist .plus{
  opacity: 0.4;
}

nav .playlist .plus:hover{
  opacity: 1;
}

nav .playlist .plus:hover:active{
  opacity: 1;
  border-left: 2px solid#ADFF2F;
}

nav .playlist .plus span{
  font-size: 15px;
}

nav .playlist .fas{
  padding: 15px 5px 10px 15px;
}

nav .playlist .fa-plus-square{
  font-size: 40px;
  vertical-align: middle;
}

nav .playlist ul{
  height: 60%;
  overflow-y: auto;
}

/* APP AND NAME USER */
nav .app{
  height: 80px;
  padding: 10px 15px;
}

nav .app .download{
  opacity: 0.4;
  padding: 5px 0;
}

nav .app .download:hover{
  opacity: 1;
  cursor: pointer;
}

nav .app .download img{
  height: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

nav .app .download .log-small img{
  display: none;
}

nav .app .download span{
  font-size: 12px;
}

nav .app .user{
  padding: 10px 15px 10px 5px;
  border-top: 1px solid #555555;
  font-weight: 600;
}

nav .app .user img{
  height: 23px;
  background-color: #555555;
  border-radius: 100%;
  vertical-align: middle;
  padding: 2px;
  margin-right: 10px;
}

nav .app .user .log-small img{
  display: none;
}

/* SUB-CONTAINER */
.sub-container{
  width: calc(100% - 260px);
  height: calc(100vh - 80px);
  float: left;
  padding: 80px 20px 20px;
  overflow-y: auto;
}

.sub-container .container-albums{
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.sub-container .cover-box{
  width: calc(100% / 6);
  padding: 10px 5px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.sub-container .cover-recently{
  width: 100%;
}

.sub-container .cover-recently h1{
  padding: 30px 5px 5px;
}

.sub-container .cover-recently.played h1{
  margin-bottom: 20px;
}

.sub-container .cover-recently .title h1{
  padding-bottom: 20px;
}

.sub-container .cover-box .immagine{
  position: relative;
}

.sub-container .cover-box img{
  width: 100%;
}

.sub-container .cover-box i{
  position: absolute;
  font-size: 50px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.sub-container .cover-box .immagine:hover img{
  cursor: pointer;
  opacity: 0.4;
}

.sub-container .cover-box .immagine:hover i{
  display: block;
}

.sub-container .cover-recently h4{
  padding: 20px 0 20px;
}

.sub-container .cover-recently p{
  opacity: 0.4;
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 5px;
}

.sub-container .cover-recently.different{
  margin-top: 20px;
}

.sub-container .cover-recently.different img{
  border-radius: 100%;
}

/* MENU */
.sub-container ul.menu{
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

.sub-container ul.menu li{
  position: relative;
  display: inline;
  padding: 0 10px;
  width: 10px;
  font-size: 15px;
  border: none;
}

.sub-container ul.menu li div{
  position: absolute;
  left:50%;
  top: 150%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: #ADFF2F;
  display: none;
}

.sub-container ul.menu li.evidenza{
  opacity: 0.9;
}

.sub-container ul.menu li.evidenza div{
  display: block;
}

.sub-container ul.menu li:active div{
  display: block;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #282828;
  padding: 10px;
}

/* FOOTER LEFT */
footer .left{
  padding: 5px;
  display: flex;
  align-items: center;
}

/* IMMAGINE ALBUM & NOMI */
footer .left img{
  max-height: 50px;
  margin-right: 10px;
}


footer .left .name{
  font-size: 14px;
}

footer .left .brano{
  font-size: 12px;
  opacity: 0.4;
}

/* LEFT LIKE */
footer .left .like{
  margin-left: 40px;
}

footer .left .like i{
  opacity: 0.4;
  padding: 5px;
}

footer .left .like i:hover{
 opacity: 1;
 cursor: pointer;
}

/* FOOTER CENTER */
footer .center{
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
}

/* ICONE DI RIPRODUZIONE */
footer .center .icons{
  display: flex;
  align-items: center;
}

footer .center .icons i{
  padding: 0 10px;
  opacity: 0.4;
}

footer .center i:hover{
  opacity: 15;
  cursor: pointer;
}

footer .center .icons .fa-play-circle{
  font-size: 30px;
  opacity: 1;
}

/* LINEA DI RIPRODUZIONE */
footer .center .time-line{
  display: flex;
  align-items: center;
  font-size: 10px;
}

footer .center .line{
  width: 440px;
  height: 4px;
  margin: 10px 30px;
  background-color:#555555;
  border-radius: 20px;
  overflow: hidden;
}

footer .center .line-up{
  width: 30%;
  height: 4px;
  background-color: #C1C1C1;
}

footer .center .line-up:hover{
  background-color: #ADFF2F;
  cursor: pointer;
}

footer .center .time-line::before{
  content: '0.30';
  display: table;
  clear: both;
}

footer .center .time-line::after{
  content: '4.35';
  display: table;
  clear: both;
}

/* FOOTER RIGHT */
footer .right{
  display: flex;
  align-items: center;
}

footer .right .line{
  width: 150px;
  height: 4px;
  margin-right: 5px;
  background-color:#555555;
  border-radius: 20px;
  overflow: hidden;
}

footer .right .line-up{
  width: 30%;
  height: 4px;
  background-color: #C1C1C1;
}

footer .right .line-up:hover{
  background-color: #ADFF2F;
  cursor: pointer;
}

footer .right i{
  padding: 10px;
  opacity: 0.4;
}

footer .right i:hover{
  opacity: 1;
  cursor: pointer;
}

@media all and (max-width: 1024px){
  /* SUBCONTAINER LIST  */
  .sub-container ul.menu li{
    line-height: 43px;
  }

  /* SUBCONTAINER BOX */
  .sub-container .cover-box{
    width: calc(100% / 4);
    height: 300px;
  }

  .sub-container .cover-box p, h4{
    font-size: 80%;
  }

  /* FOOTER */
  footer .center .line{
    width: 300px;
  }

  footer .right .line{
    width: 100px;
  }
}

@media all and (max-width: 840px){
  .container-albums .cover-recently h1{
    font-size: 1.8em;
  }

  /* FOOTER */
  footer .center .line{
    width: 200px;
  }
}

@media all and (max-width: 768px){
  /* MENU */
  .sub-container ul.menu li{
    font-size: 70%;
  }

  /* SUBCONTAINER BOX */
  .sub-container .cover-box{
    width: calc(100% / 2);
    height: auto;
  }

  /* FOOTER */
  footer .center .line{
    width: 70px;
  }

  footer .right .line{
    width: 70px;
  }
}

@media all and (max-width: 590px){
  /* NAV */
  body{
    min-width: 580px;
  }

  nav{
    width: 50px;
    padding: 10px;
  }

  nav .container-nav .logo{
    display: none;
  }

  nav .container-nav .log-small img{
    display: block;
    max-width: 35px;
  }

  nav .box .select-menu .log-small img{
    display: block;
    max-width: 35px;
    opacity: 0.8;
  }

  nav .box .select-menu .log-small img:hover{
    opacity: 1;
  }

  nav .select-menu ul{
    display: none;
  }

  /* PLAYLIST */
  nav .container-nav-down .log-small img{
    display: block;
    margin-top: 10px;
    opacity: 0.4;
  }

  nav .container-nav-down .log-small img:hover{
    opacity: 1;
  }

  nav .container-nav-down .playlist{
    display: none;
  }

  /* APP AND NAME USER */
  nav .app{
    padding: 0;
  }
  nav .app .download .box-dw{
    display: none;
  }

  nav .app .download .log-small img{
    display: block;
    max-width: 40px;
    margin-left: 3px;
  }

  nav .app .user .box-us{
    display: none;
  }

  nav .app .user .log-small img{
    display: block;
    max-width: 20px;
  }

  /* UPGRADE */
  main .upgrade{
    width: calc(100% - 50px);
  }

  /* SUB-CONTAINER */
  .sub-container{
    width: calc(100% - 50px);
  }

  /* FOOTER */
  footer .right .line{
    width: 50px;
  }
}
